* {
	margin: 0;
	padding: 0;
}

body {
	/*background-image: url("../../img/bkg-trunk.gif");*/
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-style: none solid;
    border-width: medium 1px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    min-height: 100%;
    padding: 0 60px;
    width: 960px;
    z-index: 1;
}

a {
	color: #08C;
}

#mainBody {
	width: 960px;
}

#nav {
    height: 40px;
    background: #707070;
    background: -ms-linear-gradient(top, rgba(110, 110, 110, .2) 0, transparent 5%, transparent 97%, rgba(94, 94, 94, .45) 100% ), url('../../img/nav_bg.png') no-repeat 50% 50%, -o-linear-gradient(bottom, #626262 0, #4B4B4B 50%, #707070 51%, gray 100%);
    background: -o-linear-gradient(top, rgba(110, 110, 110, .2) 0, transparent 5%, transparent 97%, rgba(94, 94, 94, .45) 100% ), url('../../img/nav_bg.png') no-repeat 50% 50%, -o-linear-gradient(bottom, #626262 0, #4B4B4B 50%, #707070 51%, gray 100%);
    background: -moz-linear-gradient(top, rgba(110, 110, 110, .2) 0, transparent 5%, transparent 97%, rgba(94, 94, 94, .45) 100% ), url('../../img/nav_bg.png') no-repeat 50% 50%, -moz-linear-gradient(bottom, #626262 0, #4B4B4B 50%, #707070 51%, gray 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(110, 110, 110, .2) ), color-stop(0.05, transparent), color-stop(0.97, transparent), to(rgba(94, 94, 94, .45) ) ), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(111, 111, 111, .2) ), color-stop(0.002, transparent), color-stop(0.998, transparent), to(rgba(94, 94, 94, .2) ) ), url('../../img/nav_bg.png') no-repeat 50% 50%, -webkit-gradient(linear, 0 100%, 0 0, from(#626262), color-stop(0.5, #4B4B4B), color-stop(0.51, #707070), to(gray) );
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#B2B2B2B2,endcolorstr=#222222,gradientType=0);
    position: relative;
    display: block;
    margin-bottom: 15px;
    text-align: left;
    -khtml-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
    -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
    -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
}

ul#list-nav li.active a {
    background-color: #5EB5F6;
    -o-border-image: url('../../img/nav_bg_active.png') 0 2 0 1;
    -ms-border-image: url('../../img/nav_bg_active.png') 0 2 0 1;
    -moz-border-image: url('../../img/nav_bg_active.png') 0 2 0 1;
    -webkit-border-image: url('../../img/nav_bg_active.png') 0 2 0 1;
    background-image: -ms-linear-gradient(center top, #409ce0, #0378cf);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#409ce0), to(#0378cf));
    background-image: -webkit-linear-gradient(top, #409ce0, #0378cf);
    background-image: -o-linear-gradient(top, #409ce0, #0378cf);
    background-image: -moz-linear-gradient(top, #409ce0, #0378cf);
    background-image: linear-gradient(top, #409ce0, #0378cf);
   filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#409ce0,endcolorstr=#0378cf,gradientType=0);
}

ul#list-nav li a:hover {
    color: #FFF;
    border-color: black;
    -o-border-image: url('../../img/nav_bg_active.png') 0 2 0 1;
    -ms-border-image: url('../../img/nav_bg_active.png') 0 2 0 1;
    -moz-border-image: url('../../img/nav_bg_active.png') 0 2 0 1;
    -webkit-border-image: url('../../img/nav_bg_active.png') 0 2 0 1;
    background-color: #0378cf;
}

#left .menu-two-level {
    border-bottom: 1px solid #e1e1e1;
    background: url(../../img/menu_normal1.png) repeat-x;
}

#left .menu-two-level.active{
    background: #45a6f3;
    background-image: -ms-linear-gradient(top, #45a6f3, #2f77d1);
    background-image: -moz-linear-gradient(center top , #45a6f3, #2f77d1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#45a6f3), to(#2f77d1) );
    background-image: -o-linear-gradient(top, #45a6f3, #2f77d1 );
    background-image: linear-gradient(top, #45a6f3, #2f77d1);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#45a6f3', endColorstr='#2f77d1', GradientType=0);
    border: 1px solid #45a6f3;
}

#left .menu-three-level {
    background: #eef3f5;
}

#left .menu-three-level  a{
    background:url(../../img/submenu_selected_focus.png) no-repeat;
    padding-left: 35px;
    color: #3a98de;
    font-size: 14px;
}

#left .menu-three-level:hover {
    background-color: #ccc;
}

#left .menu-two-level.active a{
    color: white;
}
#left .menu-three-level.active{
    background:#a4c2d6;
}
#left .menu-three-level.active a{
    background:url(../../img/submenu_selected.png) no-repeat;
    color: #fff;
    padding-left: 35px;
}

.form-body .form-title,#container .form-title  {
    font-size: 24px;
    color: #3a98de;
    height: 36px;
    border-bottom: 1px dotted #3a98de;
    padding: 5px 20px;
}

.form-body .form-note {
    font-size: 12px;
    background-color: #EAEAEA;
    line-height: 30px;
}

/* Container */
#confirm-container {
    width: 420px;
    text-align: left;
    background: none;
    background-color:#fff;
    border: 2px solid #dddddd;
}

#confirm-container .header {
    height: 30px;
    line-height: 30px;
    width: 100%;
    color: #000;
    font-weight: bold;
    background: url("../../img/menu_normal1.png") repeat-x scroll 0 0 transparent;
    border-radius: 4px;
}

.simplemodal-wrap{background: #fff;}

#confirm-container .header span {
    padding-left: 8px;
}

#confirm-container .message {
    color: #000;
    font-size: 14px;
}

#confirm-container .buttons {
    padding: 10px 8px;
}

#confirm-container .buttons input {
    margin-left: 4px;
    text-align: center;
    cursor: pointer;
}

#container.fixContainerWidth {
    width:960px;
}

.overlay-success{
    color: #5eab1d;
}

.box-head {
    cursor: pointer;
    height:32px;
    border-radius:5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border: 1px solid #E3E7EA;
    background: #F2F2F2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#F2F2F2) );
    background: -ms-linear-gradient(top, white, #F2F2F2);
    background: -moz-linear-gradient(top, white, #F2F2F2);
    background: -o-linear-gradient(linear, 0% 0%, 0% 100%, from(white), to(#F2F2F2) );
}

.box-head h3{
    color: #888;
}

.help {
    height: 26px;
    width: 26px;
    background: url(../../img/help.png) no-repeat;
    float: right;
    margin-top:10px;
    padding-right: 10px;
}

.btn-1 {
    border: none;
    border-bottom:1px solid;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #6c6c6c;
    background-image: -ms-linear-gradient(top, #9d9d9d, #6c6c6c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9d9d9d), to(#6c6c6c));
    background-image: -webkit-linear-gradient(top, #9d9d9d, #6c6c6c);
    background-image: -o-linear-gradient(top, #9d9d9d, #6c6c6c);
    background-image: -moz-linear-gradient(top, #9d9d9d, #6c6c6c);
    background-image: linear-gradient(top, #9d9d9d, #6c6c6c);
    background-repeat: repeat-x;
    border-color: #6c6c6c #6c6c6c #6c6c6c;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    /*filter: progid:dximagetransform.microsoft.gradient(startColorstr='#9d9d9d', endColorstr='#6c6c6c', GradientType=0);*/
    }

.btn-1:hover {
    background-color: #2f76d0;
    /* Buttons in IE7 don't get borders, so darken on hover */

    background-image: -ms-linear-gradient(top, #4babf5, #2f76d0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4babf5), to(#2f76d0));
    background-image: -webkit-linear-gradient(top, #4babf5, #2f76d0);
    background-image: -o-linear-gradient(top, #4babf5, #2f76d0);
    background-image: -moz-linear-gradient(top, #4babf5, #2f76d0);
    background-image: linear-gradient(top, #4babf5, #2f76d0);
    background-repeat: repeat-x;
    border-color: #2f76d0 #2f76d0 #2f76d0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    /*filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4babf5', endColorstr='#2f76d0', GradientType=0);*/
}

.btn-1:disabled.hover,
.btn-1:disabled:hover {
    background-color: #d3d3d3;
    color: #f5f5f5;
    background-image: -ms-linear-gradient(top, #d3d3d3, #b3b3b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d3d3d3), to(#b3b3b3));
    background-image: -webkit-linear-gradient(top, #d3d3d3, #b3b3b3);
    background-image: -o-linear-gradient(top, #d3d3d3, #b3b3b3);
    background-image: -moz-linear-gradient(top, #d3d3d3, #b3b3b3);
    background-image: linear-gradient(top, #d3d3d3, #b3b3b3);
    background-repeat: repeat-x;
    border-color: #d3d3d3 #d3d3d3 #d3d3d3;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    /*filter: progid:dximagetransform.microsoft.gradient(startColorstr='#d3d3d3', endColorstr='#b3b3b3', GradientType=0);*/
}

.btn-1.active,
.btn-1:active {
    background-color: #44a6f4;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-color: #44a6f4 #44a6f4 #44a6f4;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-1.disabled,
.btn-1[disabled] {
    background-color: #d3d3d3;
    color: #f5f5f5;
    background-image: -ms-linear-gradient(top, #d3d3d3, #b3b3b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d3d3d3), to(#b3b3b3));
    background-image: -webkit-linear-gradient(top, #d3d3d3, #b3b3b3);
    background-image: -o-linear-gradient(top, #d3d3d3, #b3b3b3);
    background-image: -moz-linear-gradient(top, #d3d3d3, #b3b3b3);
    background-image: linear-gradient(top, #d3d3d3, #b3b3b3);
    background-repeat: repeat-x;
    border-color: #d3d3d3 #d3d3d3 #d3d3d3;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
   /* filter: progid:dximagetransform.microsoft.gradient(startColorstr='#d3d3d3', endColorstr='#b3b3b3', GradientType=0);*/
}

