<div class="side-left" data-role="header" data-position="inline">
    <a href="#/others/view" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>
    <h1 data-trans="password_management"></h1>
</div>

<div data-role="main" class="ui-content">
    <form id="frmPassword">
        <div class="ui-field-contain">
            <label for="txtCurrentPassword" data-trans="current_password"></label>
            <div class="show-password-container">
                <input class="required" name="txtCurrentPassword" id="txtCurrentPassword" autocomplete="off" type="password" minlength="5" maxlength="32">
                <div data-for="txtCurrentPassword" class="show-password show-password-off"></div>
            </div>
        </div>
        <div class="ui-field-contain">
            <label for="txtNewPassword" data-trans="new_password"></label>
            <div class="show-password-container">
                <input class="required" name="txtNewPassword" id="txtNewPassword" autocomplete="off" type="password" minlength="5" maxlength="32">
                <div data-for="txtNewPassword" class="show-password show-password-off"></div>
            </div>
        </div>
        <div class="ui-field-contain">
            <label for="txtConfirmPassword" data-trans="confirm_password"></label>
            <div class="show-password-container">
                <input class="required" name="txtConfirmPassword" id="txtConfirmPassword" autocomplete="off" type="password" minlength="5" maxlength="32">
                <div data-for="txtConfirmPassword" class="show-password show-password-off"></div>
            </div>
        </div>

        <div class="margin-top-10em">
            <a id="passwordSave" type="button" data-trans="apply" class="ui-btn ui-corner-all ui-shadow"></a>
        </div>
    </form>
</div>