<div class="side-left" data-role="header" data-position="inline">
    <a href="#/home" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>
    <h1 data-trans="other_settings"></h1>
</div>

<ul id="othersList" data-role="listview">
    <li class="ui-field-contain">
        <a href="#/others/password" style="height: 37px;" class="ui-btn side-left ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-carat-r ui-btn-icon-right">
            <div class="btn-title" style="line-height: 37px;" data-trans="password_management"></div>
        </a>
    </li>
    <li class="ui-field-contain">
        <a href="#/others/ota_update" style="height: 37px;" class="ui-btn side-left ui-corner-all ui-nodisc-icon ui-alt-icon ui-icon-carat-r ui-btn-icon-right">
            <div>
                <div class="ui-block-a btn-title" style="line-height: 37px;" data-trans="ota_update"></div>
                <div id="newVersionIcon" class="ui-block-b version-new-tips">New</div>
            </div>
        </a>
    </li>
    <!--<li class="ui-field-contain" data-icon="false">-->
        <!--<a href="#" style="padding: 0;">-->
            <!--<label for="switch" data-iconpos="right">-->
                <!--<div data-trans="device_led"></div>-->
                <!--<div class="btn-sub-desc" data-trans="device_led_info"></div>-->
            <!--</label>-->

            <!--<input id="switch" name="switch" value="1" type="checkbox"/>-->
        <!--</a>-->
    <!--</li>-->


    <!--<li class="ui-field-contain" data-icon="false">-->
        <!--<a href="#" style="padding: 0;">-->
            <!--<label style="line-height: 37px;" for="fastboot" data-iconpos="right">-->
                <!--<div data-trans="fastboot_device"></div>-->
            <!--</label>-->
            <!--<input id="fastboot" name="fastboot" value="1" type="checkbox"/>-->
        <!--</a>-->
    <!--</li>-->
    <li class="ui-field-contain" data-icon="false">
        <a id="restartDevice" href="#" style="height: 37px;">
            <div class="btn-title" style="line-height: 37px;" data-trans="restart_device"></div>
        </a>
    </li>
    <!--<li class="ui-field-contain" data-icon="false" style="display:none">
        <a id="shutdownDevice" href="#" style="height: 37px;">
            <div class="btn-title" style="line-height: 37px;" data-trans="shutdown"></div>
        </a>
    </li>-->
    <!--<li class="ui-field-contain" data-icon="false">-->
        <!--<a id="shutDownDevice" href="#" style="height: 37px;">-->
            <!--<div class="btn-title" style="line-height: 37px;" data-trans="shutdown_device"></div>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li class="ui-field-contain" data-icon="false">-->
        <!--<a href="#">-->
            <!--<div class="btn-title" data-trans="about"></div>-->
            <!--<div class="btn-sub-desc" id="version"></div>-->
        <!--</a>-->
    <!--</li>-->
</ul>


